:root {
  --color-primary: #5c535c;
  --color-secondary: #6e6b78;
  --color-body: #dbe3e5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 65.2%;
}

h1,
h2 {
  margin: 0;
  font-size: 7.5rem;
  color: #fff;
}

/*Button*/

.btn {
  font-weight: 600;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  padding: 0.8rem 1.2rem;
  outline: 0;
  border: 0;
  background: var(--color-body);
  color: var(--color-primary);
}

/*List*/

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  color: var(--color-body);
}

.list a:hover {
  color: #fff;
}

/*Flex*/

.flex {
  display: flex;
  justify-content: space-evenly;
}

/*grid*/
.grid {
  display: grid;
}

.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--1x3 {
  grid-template-columns: repeat(3, 20% 60% 20%);
}

/*Icons*/

.icon {
  height: 40px;
  width: 40px;
}

.icon--body {
  fill: var(--color-body);
}

.icon__top {
  justify-self: flex-end;
}

.icon__top > svg {
  margin-right: 2rem;
}

.icon__social > svg {
  margin: 0 0.5rem;
}

/*Container*/

.container {
  height: 100vh;
  background: linear-gradient(90deg, #5c535c 77%, #6e6b78 23%);
}

/*Content*/

.content {
  margin-bottom: 7rem;
}

.content > h1 {
  font-size: 8.7rem;
}

.content > p {
  color: #fff;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}

/*logo*/
.logo {
  justify-self: flex-start;
  align-self: center;
  margin-left: 2rem;
}

/*navBar*/

.navBar {
  padding: 4rem 2rem;
}

.navBar__content {
  margin-top: 0.6rem;
}

/*hero*/

.hero {
  justify-items: center;
}

.image {
  width: 100%;
  max-width: 478px;
}
