<section class="grid grid--1x2 hero">
  <div class="hero__content">
    <div class="content">
      <h1>Luminous</h1>
      <h2>Handmade Jewellery</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eaque, est
        illo, dolores perspiciatis quisquam, quae necessitatibus nesciunt illum
        fuga suscipit! Illo molestiae nobis dolores consequatur cupiditate
        debitis, quos fuga!
      </p>
    </div>
    <button class="btn">Get Started</button>
  </div>
  <picture class="hero__image">
    <source type="image/webp" srcset="images/hero.webp" />
    <img class="image" src="images/hero.png" alt="hero image" />
  </picture>
</section>
