<header class="grid grid--1x3 navBar">
  <img class="logo" src="images/logo.png" alt="landing page logo" />
  <div class="navBar__content">
    <ul class="flex list">
      <li><a href="#">Home</a></li>
      <li><a href="#">Collection</a></li>
      <li><a href="#">Price</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="icon__top">
    <svg class="icon icon--body">
      <use xlink:href="images/sprite.svg#favourite"></use>
    </svg>
    <svg class="icon icon--body">
      <use xlink:href="images/sprite.svg#store"></use>
    </svg>
  </div>
</header>
