<footer>
  <div class="footer">
    <div class="flex icon__social">
      <svg class="icon icon--body">
        <use xlink:href="images/sprite.svg#instagram"></use>
      </svg>
      <svg class="icon icon--body">
        <use xlink:href="images/sprite.svg#facebook"></use>
      </svg>
      <svg class="icon icon--body">
        <use xlink:href="images/sprite.svg#twitter"></use>
      </svg>
      <svg class="icon icon--body">
        <use xlink:href="images/sprite.svg#whatsapp"></use>
      </svg>
    </div>
  </div>
</footer>
